
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body style="padding: 30px;">

        <nav class="navbar navbar-light bg-light" style="margin-bottom: 13px">
            <div class="container-fluid">
                <div><h1>Add a review about <b>{{ dealer.full_name }}</b></h1></div>
    
                <!-- ************************ -->
                <!-- Home -->
                <div class="">  
                    <a href="{% url 'djangoapp:index' %}">Home</a>                         
                </div>
            </div>
        </nav>
        
        <h4>Enter the review content:</h4>  
    <div style="display: flex; align-items: center; flex-direction: row">
          
        <form action="{% url 'djangoapp:addreview' id %}" method="post" style="width: 100%;">

            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>

            <div class="container-fluid">  
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck" style="width: 22px;">
                <label class="form-check-label" for="purchasecheck">Has purchased the car from {{ dealer.full_name }} ? <span style="color: rgb(196, 187, 187);">(select purchased car information below if checked)</span> </label>
            </div>

            <label><h4>Select your car (model-make-year): </h4></label>
            
                <!-- <select name="car" id="car" class="form-select" required></select> -->
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        {% if car.Dealer_id == id|stringformat:"s" %} <!-- Debido a que en models.py la variable Dealer_id de definió como string, entonces debemos convertir el entero "id" a string para poder hacer la comparación-->
                           <option selected value={{car.id}}>{{car.Name}}-{{car.Makes.Name}}-{{ car.year|date:"Y" }}</option> <!-- "car.Makes.Name" accede al modelo CarMake debido a la relación que se creo en models.py con la llave foranea desde Carodel-->
                        {% endif %}
                    {% endfor %}
                </select>

                <br>
                <br>

            <h4>Select Your Purchase Date:</h4>
           <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate"  style="width: 22%;">
           {% csrf_token %}
            <!-- ******************************************* -->
                  <hr> 
                  <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
    </div>

    <!-- You may also add the following script to define the purchase date format. -->
        <script type="text/javascript">
            $('.date-own').datepicker({
               format: 'mm/dd/yyyy'
             });
       </script>
    </body>
</html>