
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body style="padding: 30px;">

        <nav class="navbar navbar-light bg-light" style="margin-bottom: 13px">
            <div class="container-fluid">
                <div><h1>Add a review about <b>{{ dealer.full_name }}</b></h1></div>
    
                <!-- ************************ -->
                <!-- Home -->
                <div class="">  
                    <a href="{% url 'djangoapp:index' %}">Home</a>                         
                </div>
            </div>
        </nav>
        
        <h4>Enter the review content:</h4>  
    <div style="display: flex; align-items: center; flex-direction: row">
          
        <form action="{% url 'djangoapp:addreview' id %}" method="post" style="width: 100%;">

            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>

            <div class="container-fluid">
                
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label class="form-check-label" for="purchasecheck">Has purchased the car from {{ dealer.full_name }} ?</label>
            </div>

            <label><h4>Select your car (model-make-year)</h4></label>
            
                <select name="car" id="car" class="form-select" required></select>
                <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option selected value={{car.Dealer_id.id}}>{{car.Name}}-{{car.Makes.name}}-{{ car.year|date:"Y" }}</option>
                {% endfor %}
                </select>

                <br>
                <br>

            <h4>Select Your Purchase Date:</h4>
           <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
           {% csrf_token %}
            <!-- ******************************************* -->
                  <hr> 
                  <button class="btn btn-primary" type="submit">Sign up</button>
            </div>
          </form>
    </div>


        <script type="text/javascript">
            $('.date-own').datepicker({
               format: 'mm/dd/yyyy'
             });
       </script>
    </body>
</html>