<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body style="padding-left: 20px; padding-right: 20px">

    
    <!--Add a nav bar here -->

    <nav class="navbar navbar-light bg-light" style="margin-bottom: 13px">
        <div class="container-fluid">

            <div class="">  
                <a href="{% url 'djangoapp:index' %}">Home</a>                         
            </div>


            <div><h2>Review(s) with <b>{{ review_list.0.name }}</b> (included)</h2></div>

            <!-- ************************ -->
            <!-- Home -->


           {% if user.is_authenticated %}
           <div class="">  
            <a href="{% url 'djangoapp:addreview' id %}">Add Review</a>                        
           </div>
           
          
           {% else %}

            <!-- Sign Up -->

                 <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>   
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                </ul>

           {% endif %}

         </div>
  
    </nav>


    <!-- Add reviews as cards -->
 
    <div>    
    <div class="card-columns">
        {% for dealer in review_list %}
        <div class="card" style="padding:13px">
            
            <img class="card-img-left" src="{% if dealer.sentiment == 'positive' %}{{MEDIA_URL}}/emoji/positive.png{% elif dealer.sentiment == 'neutral' %}{{MEDIA_URL}}/emoji/neutral.png{% else %}{{ MEDIA_URL }}/emoji/negative.png{% endif %}" alt="Descripción de la imagen" style="width: 50px;">
             <!-- <img class="card-img-left" src="...\server\static\media\emoji\positive.png"> -->
             <!-- <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" style="width: 50px;"> -->

            <!-- <img class="card-img-left"> -->

            <div class="card-body">
                <h5 class="card-title">{{dealer.car_model}}, {{dealer.car_make}}</h5>
                <h5 class="card-title">{{dealer.purchase_date}}</h5>
                <p class="card-text">{{dealer.review}}</p>
                <p class="card-text">Buyer: {{dealer.name}}</p>
        
            </div>
            
        </div>
        {% endfor %}
    </div>
    </div>


</body>

</html>